<section id="design" class="white-section features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>
          Design<br/>
          <span class="navy">What should the code say?</span>
        </h1>

        <p>
          A big part of designing an application is about making sure that the
          code communicates intent. It's worth having a think about the overall
          design of the application to make sure that it's saying the right
          things. For example, if you're building a business accounting system,
          then there should be a clean way of communicating the
          <%= link_to 'Generally Accepted Accounting Principles', 'https://en.wikipedia.org/wiki/Generally_accepted_accounting_principles' %>,
          and an accountant should be able to read the intent behind the code
          that deals with tax.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 text-center wow fadeInLeft">
        <div>
          <i class="fa fa-university features-icon"></i>
          <h2>The right architecture</h2>

          <p>
            Ruby on Rails helpfully gives us a lot of convention over
            configuration so we can get started building things, instead of
            worrying about where they should live.
          </p>

          <p>
            But it's still a good idea to have a plan for the overall
            architecture of a system. We need to know what we're building right
            now, and we'd like to have an idea of how that system is going to
            grow and mature.
          </p>
        </div>

        <div class="m-t-lg">
          <i class="fa fa-user features-icon"></i>
          <h2>User experience</h2>

          <p>
            A good app thinks carefully about how the user will interact with it,
            and what kinds of users it is talking to. We can build out
            <a href="https://www.smashingmagazine.com/2014/08/a-closer-look-at-personas-part-1/">user personas</a>,
            and do some user role modelling to figure out who we're working with.
          </p>
        </div>
      </div>

      <div class="col-sm-6 text-center wow fadeInRight">
        <div>
          <i class="fa fa-sitemap features-icon"></i>
          <h2>Choosing frameworks</h2>

          <p>
            There's more than just Ruby on Rails involved in a modern web
            application. We'll typically want to choose a suitable client-side
            JavaScript framework to handle the user interface. And there are
            loads of other opportunities to leverage existing open source
            software to accelerate development, if we choose wisely.
          </p>
        </div>

        <div class="m-t-lg">
          <i class="fa fa-line-chart features-icon"></i>
          <h2>The right scale</h2>

          <p>
            When it comes to scaling an application, you build the right app for
            the scale that you're expecting. Underengineering will result in an
            app that falls over when your customers need it. Overengineering
            breeds complexity, which substantially increases costs and overheads.
          </p>

          <p>
            We want to find the right balance for your current needs, and a plan
            to deal with future growth at the appropriate time.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
