<section id="services" class="gray-section  services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Services</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3 wow fadeInLeft">
        <h2>Design</h2>

        <p>
          I think a lot about design. Not just the visual aesthetic of a web
          site, or the user experience (though they're important!). I like to
          ponder on the overall structure of a system, how it interacts with the
          outside world, and what kind of character it should have.
        </p>

        <p>
          I love to properly understand the business domain, and use that
          knowledge to feed into the design and architecture of the resulting
          app. I feel that putting a bit of care into the design makes for a more
          sustainable app in the long term.
          <a class="navy-link" href="#design" role="button">Read more &raquo;</a>
        </p>
      </div>

      <div class="col-sm-6 col-md-3 wow fadeInLeft">
        <h2>Development</h2>

        <p>
          I can build the app myself from start to finish, if it's a small
          project. For bigger undertakings, or if you have a tight schedule, I'll
          assemble a team to develop the system.
        </p>

        <p>
          I'll usually take on the role of the <em>translation layer</em> between
          the business and the development team. I turn business requirements
          into something a developer can build, and I turn finished code into
          polished, deployed, features.
          <a class="navy-link" href="#development" role="button">Read more &raquo;</a>
        </p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-sm-6 col-md-3 wow fadeInRight">
        <h2>Deployment</h2>

        <p>
          I've done my fair share of racking hardware, answering pagers at 3AM,
          and rapidly deploying security patches. I can create automated build
          systems and deployments for Ruby on Rails apps. I can scale those apps
          to 30,000+ customers and millions of hits.
        </p>

        <p>
          I can do all the ancillary bits and pieces that are involved in running
          a Ruby on Rails application at an interesting scale: I know my way
          around email systems, DNS, cloud hosting, firewalls, load balancers,
          etc.
          <a class="navy-link" href="#deployment" role="button">Read more &raquo;</a>
        </p>
      </div>

      <div class="col-sm-6 col-md-3 wow fadeInRight">
        <h2>Consulting</h2>

        <p>
          I can pitch in on other consulting jobs, too. I can review existing
          Rails applications to look for opportunities to improve them. I can
          rescue Rails projects that have gone bad. I can look at the feasibility
          of porting applications to Rails from another framework, or porting
          them to another framework when your needs exceed that which Rails is
          suited to.
          <a class="navy-link" href="#consulting" role="button">Read more &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</section>
