<div class="item active">
  <div class="container">
    <div class="carousel-caption">
      <h1>We craft<br/>
        brands, web apps,<br/>
        and user interfaces<br/>
        we are IN+ studio
      </h1>

      <p>Lorem Ipsum is simply dummy text of the printing.</p>

      <p>
        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
        <a class="caption-link" href="#" role="button">Inspinia Theme</a>
      </p>
    </div>

    <div class="carousel-image wow zoomIn">
      <img src="/images/laptop.png" alt="laptop"/>
    </div>
  </div>

  <!-- Set background for slide in css -->
  <div class="header-back one"></div>
</div>
