<div class="item active">
  <div class="container">
    <div class="carousel-caption">
      <h1>
        I build Ruby<br>
        on Rails apps
      </h1>

      <p>
        In fact, I've been building them for over a<br>
        decade now. I'm quite proficient at it. There<br>
        are not many people who can make that<br>
        sort of a claim!
      </p>

      <p>
        <a class="btn btn-lg btn-primary" href="#develop" role="button">Read more</a>
      </p>
    </div>

    <div class="carousel-image wow zoomIn">
      <img src="/images/laptop.png" alt="laptop"/>
    </div>
  </div>

  <!-- Set background for slide in css -->
  <div class="header-back one"></div>
</div>
