<div class="item">
  <div class="container">
    <div class="carousel-caption">
      <h1>
        I make mobile<br>
        apps talk to<br>
        Rails apps
      </h1>

      <p>
        I create RESTful APIs for rich<br>
        client apps to communicate with a<br>
        Rails backend service.<br>
        <small>(I can build the iOS apps, too!)</small>
      </p>

      <p><a class="btn btn-lg btn-primary" href="#api-development" role="button">Learn more</a></p>
    </div>
  </div>

  <div class="header-back two"></div>
</div>
